/* DataScience.css */

.custom-div {
    width: 97vw;
    height: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex; /* Use flex container for layout */
  /* Center items vertically */
  }
  
  .custom-image {
    width: 200px; /* Set your desired image width */
    height: 200px; /* Maintain aspect ratio */
    /* margin-right: 20px; Add spacing between image and text content */
  }
  
  .text-content {
    text-align: left; /* Align text to the left within the container */
  }
  
  .custom-div h1 {
    font-size: 40px;
    margin-bottom: 16px;
     margin-left: 100px;    
  }
  
  .custom-div p {
    font-size: 20px;
    line-height: 1.5;
    margin-left: 100px;
  }
  .custom-div p.trainer-name {
    color: #3498db; /* Set your desired color */
  }
  .last-updated {
    color: #e74c3c; /* Set your desired color */
    font-style: italic;
  }
  @media screen and (max-width: 768px) {
    .custom-div {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: flex-start;
    }
  
    .custom-div h1,
    .custom-div p {
      margin-left: 0; /* Remove margin on smaller screens */
    }
  }